@font-face {
  font-family: f1;
  src: url("/AtypDisplay-Regular.ttf");
}
@font-face {
  font-family: f2;
  src: url("/AtypDisplay-Thin.ttf");
}
@font-face {
  font-family: f3;
  src: url("/SuisseIntl-Ultralight.ttf");
}
@font-face {
  font-family: f4;
  src: url("/SuisseIntl-Book.ttf");
}
@font-face {
  font-family: f5;
  src: url("/SuisseIntl-Light.ttf");
}
@font-face {
  font-family: f6;
  src: url("/SuisseIntl-Medium.ttf");
}
@font-face {
  font-family: f7;
  src: url("/SuisseIntl-Regular.ttf");
}
@font-face {
  font-family: f8;
  src: url("/Gilroy-Medium.ttf");
}
@font-face {
  font-family: f9;
  src: url("/Gilroy-Bold.ttf");
}
@font-face {
  font-family: f10;
  src: url("/ABCSocialMono-Regular.ttf");
}
@font-face {
  font-family: f11;
  src: url("/HelveticaNowText-Regular.ttf");
}
@font-face {
  font-family: f12;
  src: url("/Futura-Bold.ttf");
}
@font-face {
  font-family: f13;
  src: url("/abc-social-mono-regular-woff-2-a87e92.ttf");
}

.font1{
  font-family: f1;
}
.font2{
  font-family: f2;
}
.font3{
  font-family: f3;
}
.font4{
  font-family: f4;
}
.font5{
  font-family: f5;
}
.font6{
  font-family: f6;
}
.font7{
  font-family: f7;
}
.font8{
  font-family: f10;
}
.font9{
  font-family: f11;
}
.font10{
  font-family: f12;
}
.font11{
  font-family: f13;
}
.gilb{
  font-family: f9;
}
.gilroy{
  font-family: f8;
}
.stretch{
  font-stretch: expanded;
}
.transi{
  transition: all 1s ease-in-out;
}
.no-scroll {
  overflow: hidden;
}

.box{
  clip-path: polygon(0 0 , 100% 0 , 100% 100% , 0 100%);
}
.tran{
  transition: all 0.3s ease-in-out;
}
.tran1{
  transition:   0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  width: 2px;
  background-color: black/50;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
}